$colorPrimario: rgb(226, 157, 29);
$colorSecundario:rgb(0, 0, 0);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    margin-left: 0.03rem;
    margin-right: 0.03rem;
}

html, body, #root{
    height: 100vh;
}

#main-header{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    align-items:center;
    padding: 1rem;
    background-color: $colorPrimario;
    color:$colorSecundario;
    box-shadow: 0 2px 5px;
    
    .navbar {
        display: flex;

        a {
            list-style: none;
            background-color:#000;
            text-decoration:none;
            color:#fff;
            padding:10px 15px;
            
            &:hover {
                background-color: #434343;
            }
        }

        .cart{
            font-size:20px;
            color:white;
            list-style: none;
        }
    }
}

.ItemListContainer{
    height: 100vh;
    display:flex;
    justify-content: center;
}

.ItemDetailContainer{
    height: 100vh;
    display:flex;
    justify-content: center;
}

.botonera{
    width: 6rem;
    height:6rem;
    font-size:100%;
    background-color:$colorSecundario;
    color:$colorPrimario;
    .sumar{
        width: 100%;
        font-size:1.2rem;
        background-color:$colorPrimario;
    }
    .restar{
        width: 100%;
        font-size:1.2rem;
        background-color:$colorPrimario;
    }
    .agregarCarrito{
        width: 100%;
        font-size:1.2rem;
        background-color:grey;
        color:$colorPrimario;
    }
    .contador{
        display: flex;
        justify-content:center;
        font-size:1.2rem;
    }
}



#root{
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

footer{
    display: flex;
    padding: 1rem;
    background-color:$colorPrimario;
    color: $colorSecundario;
    border-style: solid;
    padding: 0.5rem;
    text-align: center;
    font-size: 1em;
    flex-direction: column;
}